<h1>Lista De Frutas:</h1>
@foreach(var item in ViewBag.frutinha){
 <p>@item</p>
 <p>
  Id: @item.Id<br>
  Fruta: @item.Nome<br>
  Preço; @item.Preco<br>
  Quantidade: @item.Quantidade<br>
  Categoria: @item.Categoria<br>
  </p>
}
